@font-face {
	font-family: NunitoSans_7pt_Condensed;
	font-display: swap; src: url("../fonts/NunitoSans_7pt_Condensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: NunitoSans_7pt_Condensed;
	font-display: swap; src: url("../fonts/NunitoSans_7pt_Condensed-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: NunitoSans_7pt_Condensed;
	font-display: swap; src: url("../fonts/NunitoSans_7pt_Condensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: NunitoSans_7pt_Condensed;
	font-display: swap; src: url("../fonts/NunitoSans_7pt_Condensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: NunitoSans_7pt_Condensed;
	font-display: swap; src: url("../fonts/NunitoSans_7pt_Condensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NunitoSans_7pt_Condensed;
	font-display: swap; src: url("../fonts/NunitoSans_7pt_Condensed-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
